<%- include("partials/header.ejs") %>
<div id="home">
    <h1>Welcome to the Blog</h1>
    <p>Explore the latest posts and updates.</p>

    <div class="home-btn">
        <a href="/blog" class="btn">Read Blogs</a>
        <a href="/write" class="btn">Write Blogs</a>
    </div>
</div>
<%- include("partials/footer.ejs") %>